<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>验证CPU Memory占用过高信息</title>
	<script src="/js/jquery-3.2.1.min.js"></script>
<style type="text/css">
    
</style>
<script type="text/javascript">
	
	//压测功能启用标志
	var startFlag = false;

	$(document).ready(function(){
		$.ajax({ 
	        type: "get", 
	        url: "/viewCpuMem", 
	        dataType: "json", 
	        success: function (data) { 
	        	if("Y"==data.status){
	        		$("#executeInfo").val(data.msg); 
	        		$("#threadPoolExecutorInfo").val(data.before); 
	        	}
	        }
		});
	});
	
    setInterval(function () {
    	if(false==startFlag){
    		return;
    	}
    	$.ajax({ 
            type: "get", 
            url: "/viewCpuMem", 
            dataType: "json", 
            success: function (data) {
            	if("Y"==data.status){
	        		$("#executeInfo").val(data.msg); 
	        		$("#threadPoolExecutorInfo").val(data.before); 
	        	}
            }
   	 	});
        
    }, 3600);
    
    function startCpu(){
    	startFlag = true;
    	var loopCount = $("#loopCount").val();
    	
    	$.ajax({ 
            type: "get", 
            url: "/callCPU/"+loopCount, 
            dataType: "json", 
            success: function (data) { 
            	
            	if("Y"==data.status){
            		$("#executeInfo").val(data.msg);
            	}else{
            		alert(data.msg);
            	}
            }
   	 	});
    }
    
    function startMem(){
    	startFlag = true;
    	$("#startMemBtn").attr('disabled',true); 
    	var clientCounts = $("#memClientCount").val();
    	
    	$.ajax({ 
            type: "get", 
            url: "/callMem/"+clientCounts, 
            dataType: "json", 
            success: function (data) { 
            	
            	if("Y"==data.status){
            		$("#executeInfo").val(data.msg);
            	}else{
            		alert(data.msg);
            	}
            	
            	$("#stopMemBtn").attr('disabled',false);  
              	$("#resetMem").attr('disabled',false);  
            	
            }
   	 	});
    }
    
    function stopMem(){
    	startFlag = false;
    	$.ajax({ 
            type: "get", 
            url: "/stopMem", 
            dataType: "json", 
            success: function (data) { 
            	
            	if("Y"==data.status){
            		$("#executeInfo").val(data.msg);
            		//alert(data.msg);
            	}
            	$("#stopMemBtn").attr('disabled',true);  
            	
            	$("#startMemBtn").attr('disabled',false);  
            }
   	 	});
    	
    }
    
    function resetMem(){
    	$.ajax({ 
            type: "get", 
            url: "/resetMem", 
            dataType: "json", 
            success: function (data) { 
            	
            	if("Y"==data.status){
            		$("#executeInfo").val(data.msg);
            	}
            	
            }
   	 	});
    	
    }
    
    function changeThreadPoolSize(){
		var size = $("#poolSize").val();
		$.ajax({ 
	        type: "get", 
	        url: "/cpu/setThreadPoolSize/"+size, 
	        dataType: "json", 
	        success: function (data) { 
	        	
	        	if("Y"==data.status){
	        		$("#threadPoolExecutorInfo").val(data.before); 
	        		$("#after").val(data.after); 
	        	}
	        }
		});
		
	}
    
    function startBlock(){
    	startFlag = true;
    	
    	var millisSeconds = $("#blockMillisSeconds").val();
    	var blockClientCounts = $("#blockClientCount").val();
    	$("#startBlockBtn").attr('disabled',true); 
    	
    	$.ajax({ 
            type: "get", 
            url: "/callSysBlock/"+millisSeconds+"/"+blockClientCounts, 
            dataType: "json", 
            success: function (data) { 
            	
            	if("Y"==data.status){
            		$("#executeInfo").val(data.msg);
            	}else{
            		alert(data.msg);
            	}
            	
            	$("#stopBlockBtn").attr('disabled',false);  
            }
   	 	});
    }
    
    function stopBlock(){
    	startFlag = false;
    	$.ajax({ 
            type: "get", 
            url: "/stopSysBlock", 
            dataType: "json", 
            success: function (data) { 
            	
            	if("Y"==data.status){
            		$("#executeInfo").val(data.msg);
            		//alert(data.msg);
            	}
            	$("#stopBlockBtn").attr('disabled',true);  
            	
            	$("#startBlockBtn").attr('disabled',false);  
            }
   	 	});
    	
    }
    
</script>
</head>

<body>
	<B>验证CPU\Memory占用过高信息</B><br>
	<div>
		最大循环数量<input type="text" id="loopCount" value="1000000" /> 个<br>
		<button id="startCpuBtn" onclick="startCpu()" >开始cpu调用</button><br>
	</div>
	<br>
	<div>
		调用客户端数量<input type="text" id="memClientCount" value="1" /> 个<br>
		<button id="startMemBtn" onclick="startMem()" >开始Memory调用</button><br>
		<button id="stopMemBtn" onclick="stopMem()" disabled="disabled">停止Memory调用，但不归0</button><br>
		<button id="resetMem" onclick="resetMem()" disabled="disabled">重置list内容归0</button><br><br>
	</div>
	
	<div>
		外部接口阻塞时间 <input type="text" id="blockMillisSeconds" value="1000" /> 毫秒<br>
		调用客户端数量<input type="text" id="blockClientCount" value="1" /> 个<br>
		<button id="startBlockBtn" onclick="startBlock()" >系统响应缓慢开始</button><br>
		<button id="stopBlockBtn" onclick="stopBlock()" disabled="disabled">停止系统响应缓慢并归0</button><br><br>
	</div>

	<div>
		测试cpu & memory情况: <br>
		<textarea id="executeInfo" rows="2" cols="60"/>
	</div>
    <div>
		threadPoolExecutorInfo: <input id="poolSize" type="text" value="5"/>
		<button onclick="changeThreadPoolSize()" >改变 poolSize</button><br> 
		<textarea id="threadPoolExecutorInfo" rows="8" cols="80"/>
	</div>
	<div>
		改变poolSize后<br> 
		<textarea id="after" rows="8" cols="80" />
	</div>
</body>
</html>
